<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhj.dao.LogDao">
    <insert id="insertLog" parameterType="com.lhj.entity.Log">
        INSERT INTO log(message,time) VALUES (#{message}, #{time})
    </insert>
</mapper>